<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Talk Home</title>
<link rel="stylesheet" href="../css/styles.css" media="screen" type="text/css" />
</head>
<body>
	<div class="header"><h1>You have following Broadcast Messages</h1></div>
	<a href="/recieved_broadcasts">Recieved Brodcasts</a><a href="/sent_broadcast">Sent Broadcasts</a><a href="/threads">Threads</a><a href="/logout">Logout</a><br>

    <div class="content">
    <%
		var i;
		for(i in broadcasts){
			%><a href=<%="/thread?tid="+broadcasts[i].tid+"&uid="+broadcasts[i].uid%> class="thread_item"><%=broadcasts[i].first_name+" "+broadcasts[i].last_name%></a>&nbsp at &nbsp <%=broadcasts[i].ts%>&nbsp said &nbsp<%=broadcasts[i].msg%><br><%
		}
    %>
	</div>
	<div class="footer">talk2</div>
</body>
</html>
