<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Talk Home</title>
<link rel="stylesheet" href="../css/styles.css" media="screen" type="text/css" />
</head>
<body>
	<div class="header"><h1>You have following Broadcast Messages</h1></div>
	<div id='cssmenu'>
		<ul>
			<li><a href="/home">Broadcast</a></li>
			<li class='active'><a href="#">Recieved Brodcasts</a></li>
			<li><a href="/threads">Threads</a></li>
			<li><a href="/logout">Logout</a></li>
		</div>

    <div class="customlist">
    <ul>
    <%
		var i;
		for(i in broadcasts){
			%><li class="customlist"><%=broadcasts[i].first_name+" "+broadcasts[i].last_name%>&nbsp at &nbsp <%=broadcasts[i].ts%>&nbsp said &nbsp<a href=<%="/thread?tid="+broadcasts[i].tid+"&uid="+broadcasts[i].uid%> class="thread_item"><%=broadcasts[i].msg%></a></li><%
		}
    %>
    </ul>
	</div>
	<div class="footer">talk2</div>
</body>
</html>
