<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<%@page import="java.util.HashMap"%>
<%@page import="java.util.Set" %>
<%@page import="java.util.Iterator" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Registration</title>
		<link type="text/css" rel="stylesheet" href="../css/register.css"/>		
		<script src="js/validate.js"></script>
	</head>	
	<body>
		<form id="registration_form" action="register" method="post" onsubmit="return validateRegistration()">
			<table id="registration_table">
				<tr>
					<td>User Name</td>
					<td><input id="username" name="username" type="text" placeholder="Type the username that you want"/></td>
				</tr>				
				<tr>
					<td>Password</td>
					<td><input id="password" name="password" type="password" placeholder="Type the password that you want"/></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input id="password2" name="password2" type="password" placeholder="Confirm your password"/></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><input id="first_name" name="first_name" type="text" placeholder="Type your First Name"/></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input id="last_name" name="last_name" type="text" placeholder="Type your Last Name"/></td>
				</tr>				
				<tr>
					<td>Security Question</td>
					<td>
						<select id="security_question" name="qid">
							<%
								HashMap<Integer, String> questions = (HashMap<Integer,String>)request.getAttribute("questions");
								Set<Integer> s = questions.keySet();
								Iterator<Integer> i = s.iterator();
								while(i.hasNext()){
									int k = i.next();
									%><option value="<%= k%>"><%= questions.get(k)%></option><%		
								}
							%>
						</select>
					</td>
				</tr>				
				<tr>
					<td>Answer</td>
					<td><input id="answer" name="answer" type="text" placeholder="Type your answer"/></td>
				</tr>				
				<tr>				
					<td colspan="2" align="center"><input type="submit" value="Register"></td>
				<tr>
			</table>
		</form>
	<body>
</html>